/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
phpunit.xml
.idea/workspace.xml
workspace.xml
.env.testing
/tests/report/*
/config/database.php
/tests/report

